[submodule "Docker/ROS2/src/ouster-ros"]
	path = Docker/ROS2/src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros
	branch = ros2
[submodule "Docker/ROS2/src/unitree_ros"]
	path = Docker/ROS2/src/unitree_ros
	url = https://github.com/snt-arg/unitree_ros
[submodule "Docker/ROS2/src/rslidar_msg"]
	path = Docker/ROS2/src/rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg
